.magee_shortcodes_container.white-popup {
    position: static;
    background: #FFF;
    padding: 0;
    width: auto;
     max-width: 100%; 
     margin: auto;
    clear: both;
}
.delete-section-button{
	padding-right:10px;
	}
.delete-section-button:hover{
	color:#F00;
	}
#TB_window{
	z-index:999999 !important
}
.wp-customizer .onetone_shortcodes.button{
	display:none;
}
