#debug_out{padding:4px;background:white;border:red solid 2px;position:absolute;bottom:0;left:0}
 
html, body {margin:0;font-family:verdana,arial;width:980px;margin:0 auto;line-height:1}
.dev{background-image:url(obres.png)}
.local{background-image:url(local.png)}

em, .fluixet{color:#777777;font-size:0.9em}

.amagat{display:none}
.block{display:block}
.font07{font-size:0.78em;}
.red{color:red;}
.ui-widget{font-size:0.78em;}
#dreta{width:220px;float:left;}
#flash{width:760px;height:739px;float:left;}

.form_edit.inserta_res tr{height: 27px;}
.form_edit.updata_res tr{height: 27px;}


input, textarea, span.data-llarga{
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
}

#campsClient{
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;

}

.inserta_res input[name="data"], .updata_res input[name="data"]{border:red solid 2px;background:#A00;color:white;font-weight:bold;}
label.confirma-data{font-size:0.8em !important;}
/*span.data-llarga{color:#F00;font-weight:bold;font-size:1.2em:}*/
span.data-llarga{color:white;background-color:#C00;font-weight:bold;padding:2px;border:red solid 2px;}
/*
#calendari{padding:0 auto 0 20px;}
.zoom:hover{
position:relative;left:-440px;font-size:3em;z-index:2;width:650px;
-webkit-transition: all 150ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
   -moz-transition: all 150ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -ms-transition: all 150ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
     -o-transition: all 150ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition: all 150ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 

-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
   -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -ms-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
     -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
	}
*/	

#calendari_confirma{width:300px;margin:0 auto;}
#confirma_data{font-size:1.5em;}
#confirma_data_dia, #confirma_data_torn{text-align:center;font-weight:bold;color:#C00;font-size:1.4em;}
#radio{top:1px;padding:0 auto 0 20px;}

#clientsAc{width:221px;min-height:600px;height:600px;overflow:auto}
#reservesAc{height:620px;overflow:auto}
#reserves{height:620px;width:220px;}


.ui-icon-triangle-1-s{    background-position: -144px -112px;}
.ui-icon-triangle-1-e{    background-position: -128px -112px;}


#reservesAc h3{
        overflow-y: hidden;
	border: #AAA solid 1px;
	border-radius:4px;
	padding:2px;
	background: rgba(254,254,254,1);
background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(226,226,226,1)));
background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );
}

#reservesAc a{color:#004999}
#reservesAc h3{font-size:13px; height:28px;border-bottom-color:#777;border-bottom-width: 2px;}
#reservesAc h3 .idr{font-size:14px;color:#900}



#reservesAc a .act{font-size:11px;color:green;}
.acn{font-size:14px;color:#2E2E2E}
.paga-i-senyal{
    font-size:9px;
    background:red;
    color:white;
    float:right;
    border-radius: 3px;
    padding:1px 1px;
    margin-right:4px;
}

.online{
    
	float:right;
	width:15px;
	height:15px;
	background:#FFB300;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
}


.ui-accordion h3>div{border:#eeeeee solid 2px;marginn:3px;padding:5px;height:280px;}
.ui-accordion-content-active{height:auto;}
.ui-accordion-content-active p{padding:3px;border:#444 solid 1px;margin-bottom:0px;background:white}
.ui-accordion .ui-accordion-header a {padding: .5em .5em .5em 2em;}




.dades_client{padding-left:5px;border:#AA0505 solid 1px;min-height:25px;background:#ffffff;}
.conflicte{background:#ffeeee;color:#990000;font-weight:bold;width:100%;display:block}
.delete{width:100px;border:#AA0505 solid 1px;right:10px;padding:3px;color:#FFFFFF;text-align:center;}
.taules{color:#990000;font-weight:bold;}
.ui-tabs .ui-tabs-panel{padding: 0em 0 1em 0;border:#AA0505 solid 1px;}
.reservat{color:#FF0000;width:35px;}

a:link, a:visited{color:#990000;}
a:hover{color:#FF0000;}
.taulaf1 td{border:#444 solid 1px;font-size:0.7em;text-align:center;background:#DDE;}
.taulaf1 td{padding:5px;width:40px;color:#400;}
.taulaf2 td{padding:5px;text-align:center;border:#444 solid 1px;color:#A00;font-weight:bold;background:white;}
.ui-accordion-content-active{background:#F4f6FF;}
.DBError{color:#FF0000;background:#ff000;border:#AA0505 solid 1px;}

/*.borderojo{border:#AA0505 solid 2px;}*/
.borderojo{border:#0505AA solid 2px;}

#dreta{z-index:1002;}
#flash{z-index:-999;}

.garjola{float:right;margin-bottom:15px;}
.txtGarjola{color:#FF0000;font-size:1.2em;font-weight:bold;}
.labelTA{vertical-align:top;}

#novaReserva{float:left;height:19px;margin-top:-12px;padding:2px;}
#nouClient{float:left;height:19px;margin-top:-5px;padding:2px;}

#filtreCli{margin-top:-10px;}

#reservesAc,#clientsAc{border-top:#C00 solid 3px;}

#autoc_client_accordion{width:120px;}
#autoc_client_updata_res{width:100%}

.error{color:#FF0000;font-size:0.8em;font-weight:bold;background:#ffeeee;border:#FF0000 solid 1px;}

.maldia{background:#888888;}

/*************************************************************/
/*************************************************************/
/*************************************************************/
/* CRECADOR **/
.searchform {
/*margin-top:-17px;*/
	/*float:right;*/
	/*display: inline-block;*/
	zoom: 1; /* ie7 hack for display:inline-block */
	/**display: inline;*/
	border: solid 1px #d2d2d2;
	padding: 2px 3px;
	
/**/	
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;

	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	box-shadow: 0 1px 0px rgba(0,0,0,.1);

	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */
}
.searchform input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px/100%;
}
.searchform .searchfield {
	background: #fff;
	padding: 6px 6px 6px 8px;
	width: 75px;
	border: solid 1px #bcbbbb;
	outline: none;
/*
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
*/
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.searchform .searchbutton {
	color: #fff;
	border: solid 1px #494949;
	font-size: 11px;
	height: 27px;
	width: 27px;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
/*
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
*/
	background: #5f5f5f;
	background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
	background: -moz-linear-gradient(top,  #9e9e9e,  #454545);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */
}

/* LLETRA GROSSA FORMS */
.form_edit,
.form_edit p,
.form_edit div,
.form_edit td,
.form_edit input,
.form_edit textarea
{font-size:1.18em;}

#inserta_res_radio {font-size:0.9em;}
#updata_res_radio {font-size:0.9em;}
.tira_hores{font-size:0.9em;width:740px;}


/* BARRA DALT */
#barra_dalt ul{margin:0;list-style-type: none;}
#barra_dalt ul li
{
	float:left;
	margin-right:15px;
	
}
#barra_dalt ul li a.catcher:hover
{
		background: #C00;
}
#barra_dalt ul li a.catcher
{
	width:30px;
	text-align:center;
	padding-top:12px;
	position:absolute;
		top:19px;
		/*left:740px;*/
		left:0;
		background: #C00;

}
#barra_dalt ul li a
{
	text-decoration:none;
		background: #C00;
	padding:7px;
	font-weight:bold;
	color:white;
}	

#barra_dalt ul li a:hover
{
	text-decoration:none;
	background:red;
	color:white;

}
#barra_dalt
{
		font-size:12px;
		position:absolute;
		top:-35px;
		left:0px;
		width:100%;
		height:35px;
		background: #C00;
}
#barra_dalt:hover
{
		top:0px;
	
}
/*.catcher{padding-bottom:15px;}*/
.round
{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
}


#refresh{display:none}
#refresh
{
		font-size:12px;
		position:absolute;
		bottom:5px;
		right:15px;
		/*width:50px;*/
		/*height:35px;*/
		padding:3px;
		/*background: #C00;*/
		background: white;
		border:#C00 solid 1px;
		/*background-image: url('loading.gif');*/
		text-align:center;
	font-weight:bold;
	color:white;
}

#form_hores label
{
	font-size:1.2em;
	color:#C00;
	margin-right:25px;
}


/* missatge dia*/
#ta_missatge_dia
{
	width:550px;
}

div.missatge_dia{color:white;background:red;font-weight:bold;font-size:1.5em;padding:10px 0 10px 0;}

#edita_hores td{text-align:center;}
input.max_hores{width:35px;}

.taulaid{display:none}
/*
.ui-state-highlight{border:1px solid #CDD5DA !important;}
*/
.ui-state-highlight{border:1px solid #CDD5DA !important;}
.ui-state-highlight{background:#FCC url('blitzer/images/ui-bg_highlight-hard_100_eeeeee_1x100.png') 50% 50% repeat-x !important;}
.ui-state-highlight:hover{background:#F6F6F6 url(blitzer/images/ui-bg_highlight-hard_100_f6f6f6_1x100.png) 50% 50% repeat-x !important;}
.ui-state-active{background:#FCC !important;color:#C00 !important;}
.ui-state-active:hover{background:#FCC !important;color:#C00 !important;}


/*.ui-state-highlight{border:#F00 solid 2px !important;}*/
/*
.ui-state-active{background:#FCC !important;color:#C00  !important;}
.ui-state-highlight{background:#EEE url('blitzer/images/ui-bg_highlight-hard_100_eeeeee_1x100.png') 50% 50% repeat-x;}

*/
/* SMS */
div.form_sms{font-size:0.8em;}
div.form_sms textarea{width:100%;height:70px;margin-top:25px;}
div.llista-sms{font-size:0.9em;clear:both;padding:10px;background:white;}
.llista-sms-data{color:red;float:left;margin-right:15px;}
.llista-sms-mensa{padding-bottom:10px;margin:10px 0 10px 25px;border-bottom:#eee dotted 1px;}
.sms{clear:both;margin-top:15px;padding:4px;display:block;width:100px;float:right}
/* EDBASE */
a.edbase:hover{background:red;}
a.edbase
{
	display:block;
	margin:5px;
	margin-left:25px;
	background:#C00;
	color:white;
	text-decoration:none;
	padding:3px;
	font-size:0.8em;
}
#tabs{
	position:absolute;
	top:60px;
	min-height:600px;
	}
#zoom img{height:55px;margin: 5px 0 5px 45px;float:left;}
.total_torn{background:white;font-size:1.5em;color:red; }
#total_torn{background:white;}
.comensals{color:black;font-size:0.7em;}
.zoom {
	position:relative;
	left:-545px;
	z-index:2;
	width:760px;
	padding:15px;
	background:#f8f9ff;
	margin-top:17px;
	/*
   opacity: 0.8;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;	
	*/
}
.calendari-loading{background-image:url('loading_llarg.gif');background-repeat:no-repeat;background-position:center top}
.zoom #calendariColumnaDereta{	font-size:2.5em;}
.zoompetit #calendariColumnaDereta{	font-size:1em;}

#calendari{float:left;}
#radio_hores_calend{float:left;width:35px;font-size:0.5em;margin-top:5px;margin-left:10px;padding-left:10px;border-left:red solid 2px;}

.inserta_res input[name=total], .updata_res input[name=total]{color:red;width:45px;font-size:1.4em;font-weight:bold;border:red solid 2px;text-align:right;}
.cb_sms{margin-top:35px;float:right;text-align:right;clear:both;}
#selectorComensals{font-size:1em;display:none;font-weight:bold;color:#004276;}
#cercaTaulaResult{
	clear:both;
	float:left;
	margin:5px 5px 5px 0;
	width:200px;
	height:470px;
	border:1px solid #D8DCDF;
	background:white;
}
#selectorFinde{font-size:1.2em}
#selectorDinarSopar{float:left;font-size:1.2em}
#selectorDinarSopar, #selectorFinde, #selectorCotxets, #selectorCotxetsCerca{margin:5px 10px 0 0;}
.f1, .f2{
	clear:both;
	background:#0C0;
	float:left;
	color:white;
	font-weight:bold;
	width:32px;
	height:16px;
	text-align:center;
	padding:0;
}
.f12{font-size:1.1em;font-weight:bold;}
.f12, .f22{	padding-left:5px;}
.taulaCercador:hover{background:#EEF;}
.taulaCercador{	font-size:0.7em;border-bottom:1px solid #D8DCDF;padding:0;width:100%;border-spacing:0px;margin-bottom:3px;}
.taulaCercador .id-taula{color:black;}
.torn{color:red;font-weight:bold;}
.torn1{color:red;font-weight:bold;}
.torn2{color:#900;font-weight:bold;}
.torn3{color:blue;font-weight:bold;}
.loading{width:15px;min-height:15px;max-height:15px;
    display: block;
	margin-top:30px;
    margin-left: auto;
    margin-right: auto; 
    background-image: url(../../img/loading.gif);
}

.bg-loading{width:15px;height:15px;
    display: block;
	margin-top:30px;
    margin-left: auto;
    margin-right: auto; 
    background-image: url('loading.gif');
}        


.loading_llarg{
	display: block;
	margin-top:30px;
    margin-left: auto;
    margin-right: auto 
       
}


input[name="client_cognoms"]{width:600px;}
input[name="client_mobil"]{width:400px;}

/*.nens{float:left;margin-right:0px;}*/

input[name="adults"],input[name="nens4_9"],input[name="nens10_14"]{width:45px;text-align:right;float:left;font-size:22px}

#selectorNens4_9 {font-size:0.6em;}
#selectorNens10_14 {font-size:0.6em;}
#selectorAdults {font-size:0.6em;}
#selectorCadiraRodes label{color:#BBB}

#campsClient{border:2px solid #DDF;padding-left:6px;background:#EEF;}

.ui-dialog-buttonpane .ui-button-text{font-size:1.7em;border:#C00 solid 3px;font-weight:bold;}

.cercador-actiu{background:red;color:white;font-weight:bold;}
#filtreRes{width:50px;}
#autoc_reserves_accordion{width:150px;}

.ui-button-text-only .ui-button-text {
padding: .3em 0.7em;
}

.deleted{background:red;}
.info-comanda{height:80px;overflow-y:scroll;padding:4px;background:white;border:1px solid #ddf;}

.info-comanda table{font-size:0.5em;width:100%;border:2px solid #ddf;text-align:right;}
.info-comanda thead{font-weight:bold;border:2px solid #ddf;text-align:center;}
.info-comanda tr{border:1px solid #ddf;}
.info-comanda tr.odd{background:#eee;}
.info-comanda tr.futur{color:red;}
.info-comanda thead{background:#ddf}
.info-comanda td{padding:0 5px 0 5px;border-left:1px solid #eee;}

#clientsAc h3{padding:2px;font-size:0.9em}



#campsClient{font-size:0.8em;}
#zoom{border:#DDDDFF solid 1px;padding-bottom:27px;background:white;}

#label_reserva_entrada.ui-state-active{background:#0AD !important;}

#total-t1{width:33%;color:#993333;font-style: normal;font-weight:bold}
#total-t2{width:33%;color:#993333;font-style:normal ;font-weight:bold}
#total-t3{width:33%;color:#993333;font-style: normal;font-weight:bold}

.noTitleStuff .ui-dialog-titlebar {display:none}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  
  .working{background:url('loading.gif') no-repeat right center;}
  .ui-autocomplete-loading { background:url('loading.gif') no-repeat right center; }

  
  .ui-button-icon-only .ui-icon {
left: 0%;
top: -10%;
}

#label-pastis.fluixet{color:lightgrey}

#inserta_res_radio .ui-button-text-only .ui-button-text{
    font-size: 0.9em;
    padding: 0.4em 0.4em;
}

.pastis {
    FLOAT: RIGHT;
    width: 16px;
    height: 16px;
    background-image: url(pastis1.png);
    background-repeat: no-repeat;
}


.contador.ccarta{width:25px;}


#reservesAc h3.ataula{background: -webkit-linear-gradient(top, azure 0%, powderblue 100%) !important}