body
{
    font-family: verdana, arial, helvetica;
    font-size: 11px;
    color: #570600;
    margin:0px;
}
#selectorHora .ui-button-text-only .ui-button-text {
padding: .4em .9em;
}
.dev{background-image:url(obres.png)}
.local{background-image:url(local.png)}


/*td{font-size:auto;}*/

h2{text-align:right;margin-top:35px;margin-right:25px;}
h4, legend{margin-bottom:0;	}



img{border-style: none;}
#ui-datepicker-div { display: none; }	
#td_contingut{background-image:url(fons_9c.jpg); background-repeat:no-repeat;}	
.shadow {
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}	

.m-menys, .m-mes{display:none;}
.selector{margin-bottom:15px;}

#calendari{font-size:1.6em}
.col-dere{width:500px;float:left;}
/*#bt-carta{color:#570600;margin-top:8px;}*/
/*	#bt-carta:hover,#bt-no-carta:hover{color:white;}*/
/*	#bt-menu:hover,#bt-no-menu:hover{color:white;}*/

#carta div.info-comanda{width:95%;margin-top:20px;}

.td-carta-preu{
    font-weight:bold;
    margin-left:25px;
    width: 50px;
    text-align: right;
}
/***********************************************/	
td.resum-carta-nom{width:400px;font-weight:bold;}
.carta-seleccio{color:red;font-weight:bold;}
.resum-carta-preu{
    font-weight:bold;
    margin-left:25px;
    width: 20%;
    text-align: right;	
}	

/*
        #fr-reserves{
          width:775px;
         padding-bottom:50px;
        }
*/
/***********************************************/
.fr-seccio{
    clear:both;
    border:1px solid rgb(203, 199, 189);
    padding:12px;
    margin:25px 25px 15px 25px;
    background:white;

    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
}


#selectorHoraSopar, #selectorHora{font-size:0.9em;}

#fr-carta-tabs li,#fr-menu-tabs li{font-size:0.8em;}
#fr-carta-tabs, #fr-menu-tabs{
    border:1px solid rgb(203, 199, 189);
    padding:12px;
    margin:0 0px 10px 0;
    background:white;

    /*     height: expresion(this.scrollHeight < 601? "600px": "auto");*/
    min-height:220px;
    /**/
}

#dades-client input, #dades-client textarea{margin-left:10px;color:#570600;font-weight:bold;}
/*#dades-client .label{text-align:right;}*/
input[name='client_nom']{width:90%;} /* MOBIL */
input[name='client_cognoms']{width:90%;} /* MOBIL */
input[name='client_email']{width:90%;} /* MOBIL */
textarea{margin-left:0px;width:90%;color:#570600;font-weight:bold;}


#carta_MENUS tr{border-bottom:#570600 dashed 1px;}
.contador{text-align:right;width:25px;margin-left:0px;}

.d-mes{min-width:27px;height:27px;
       background-image:url(custom-theme/images/ui-icons_570600_256x240.png);
       background-position:0 -189px;
       background-repeat:no-repeat;
}


.d-menys{min-width:27px;min-height:27px;
         background-image:url(custom-theme/images/ui-icons_570600_256x240.png);
         background-position:-16px -189px;
         background-repeat:no-repeat;
}

.d-mes{min-width:18px;height:18px;
       background-color:#570600;
       margin:auto;
       font-size:1.3em;
       color:white;
       text-align: center;
       font-weight: bold;
}


.d-menys{min-width:18px;min-height:18px;
         margin:auto;
         font-size:1.3em;
         background-color:#570600;
         font-size:1.3em;
         color:white;
         text-align: center;
         font-weight: bold;
}	

.borra{width:16px;height:16px;
       background-image:url(custom-theme/images/ui-icons_570600_256x240.png);
       background-position:-32px -189px;
       background-repeat:no-repeat;
}

.caixa{
    background:#fbfbff;
    /*background-image:url('info.png');
    background-repeat:no-repeat;*/
    /*width:250px;*/
    /*height:100%;*/
    padding:8px;
    border:1px solid rgb(203, 199, 189);
    /*margin-right:20px;*/
    color:#aa8888;

    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
}

.dere{
    float:right;
}

.caixa input{
    /*background:#fbfbff;*/
}
/*.fr-seccio-dia .caixa{width:250px;}*/

.fr-seccio-client .caixa{margin-top:10px;font-size:0.8em;}

.fr-seccio-carta 
{
    /*margin:25px 25px 15px 25px;*/
    /*width:729px; MOBIL*/
}


.carta-plat{width:380px;}
#carta .caixa{max-width:500px;}
.hores{
    /*background:#ffffef;*/
    float:none;
    padding:8px;
    margin-top:8px;
    margin-bottom:8px;

}

#submit{float:right;right:0px;padding:10px;font-size:1.2em;    background-color: green;}
.resum{margin-bottom:10px;color:#570600;}
.resum b{font-size:1.2em;}

/*#submit{float:right;margin:3px 25px 45px;;padding:10px;font-size:1.2em;}*/
/*
#submit{background:white;}
#submit:hover{background:#570600;}
*/
	input[type=text][name=totalComensals]{width:15px;color:red;font-weight:bold;border:none;padding:0;border:none}
	input[type=text][name=totalCotxets]{width:20px;color:red;font-weight:bold;border:none;padding:0;border:none}
	

/*
.number{
    padding:3px 8px 3px 8px;
    margin-right:15px;
    color:white;
    background:#996;
    font-size:1.2em;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;	}
*/
.error{border:1px dotted red;	background:#fee;}
em.error {
    display:block;
    color:red;
    background:url("error.gif") no-repeat 0px 0px;
    padding-left: 18px;
    border:none;
    margin-left:10px;
    min-height:16px;
}



/* #valida_calendari{display:none},*/
.tels{text-align:right;padding:5px;color:#C00;margin-bottom:125px;}
.titol2{text-align:right;}
.titol1{float:right}

#labelGrups, label[for='comGrups']{font-size:1.2em;color:red;}
.odd{background:#fcfcff;}

.menu-active, .menu-active:link, .menu-active:visited	{color:white;}

#error_validate{background:#fee url("error.gif") no-repeat 4px 5px;;padding:5px;padding-left:20px;border:#f00 solid 2px;color:#f00;}


.titol1{margin:0 25px;}
.fr-seccio-quants{margin-top:0px;}

#editar_reserva{text-align:center;width:310px;background:#FBFBFF;color:#570600;margin:0 25px 0 25px;padding:3px;float:left;}
#a_editar_reserva{color:#999;}
#a_editar_reserva:hover{color:red;}
#flogin{max-width:340px;padding:3px;}
.etinput{width:155px;}
#info-login{max-width:290px;color:#999;text-align:justify;}	

#a_consulta_online{color:#999;}
#a_consulta_online:hover{color:red;}
#form_contactar input{width:180px;}
#form_contactar{padding:4px;text-align:justify;}
#caixa_reserva_consulta_online{margin:0px 25px 45px 25px;width:300px;color:#999;text-align:center;padding:3px;float:right;overflow:hidden;}
#caixa_reserva_consulta_online textarea{width:100%;height:60px;}
#bt_reserva_consulta_online{float:right;}
#cancel_reserva{font-size:0.8em;}

.no-grup{margin:15px 0 15px 15px;}
.form-contactar-grups{width:400px;}

.resum strong{color:#570600;}
.cb_hide{float:left;background:white;position:absolute;	filter: alpha(opacity=80);	opacity: 0.8;z-index:1000;}
/*.putoIE{z-index:1000;}*/

#help{font-size:1.4em}

.tooltip-red{z-index:2100 !important;}
        .item-carta a:link, .item-carta a:visited{
            color: #570600
        }

/* ESTILS.CSS
a:link
{
    font-family: verdana, arial, helvetica;
    text-decoration: none;
    color: #FFCC99;
    font-weight: bold;
}

a:visited
{
    font-family: verdana, arial, helvetica;
    text-decoration: none;
    color: #FFCC99;
    font-weight: bold;
}

a:active
{
    font-family: verdana, arial, helvetica;
    text-decoration: none;
    color: #FFCC99;
    font-weight: bold;
}

a:hover
{
    font-family: verdana, arial, helvetica;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
/* ESTILS.CSS*/

#taula-estructura{max-width: 770px}




/**
PANTALLES FINS A 500
*/  @media only screen and (max-width: 450px){ 

    #calendari{font-size:1.1em !important}
    label{min-width:65px;}
    #selectorCotxets label{min-width:100%;}
    #selectorCadiraRodes label{min-width:100%;}
    td.resum-carta-nom {
        font-weight: normal;
        /*font-size: 0.7em;*/

    }
    #bt-carta, #bt-menu, #bt-no-carta {float:none;min-width:100%}
}  

/**
PANTALLES FINS A 770
*/
@media only screen and (max-width: 770px){ 
    #editar_reserva{width:99%;margin:0;padding:8px 0 12px 0;}
    #caixa_reserva_consulta_online {width:99%;float:none;margin:0;padding:8px 0 12px 0;margin-bottom:35px;}

    h4{font-size:1.7em}
    h2.titol{font-size:2.5em !important;}
    /*div.caixa{display:none;} 
    div.info{display:none;} */
    .fr-seccio-submit .caixa.resum{display:block;}
    .fr-seccio-carta .caixa{display:block;}
    .info-comanda{display:block;}
    .info-legal{display:block;}

    .fr-seccio-carta .caixa .dere{float:none;}

    .fr-seccio{margin-left:0px;margin-right:0px;padding:8px;}  
    #calendari{font-size:1.3em}
    img{max-width:100%;}
    #td_contingut {background-image: none;}
    #bt-carta, #bt-menu,#bt-no-carta {float:none;}

    .ui-button, h4, h3, h2, legend{font-size:1.7em !important;}

    .ui-dialog{width:95% !important;}

    .contador{width:35px;}
    #tr_menu{font-size:2em;}
    #tr_menu a{display:block;text-align:left;}
    #tr_menu img{display:none;}
    #table_menu{margin-left:15px !important}

    #caixa_reserva_consulta_online {float:none}

    .fals-overlay{visibility:hidden;}
    /* .fals-overlay{display:none;}*/


    #data{float:none !important;font-size: 1.3em;}
    div.ui-datepicker-inline.ui-datepicker{width:100%;}

    #fr-carta-tabs li, #fr-menu-tabs li {
        width: 100%;
        font-size:1.1em;
    }
    
    .fr-seccio-client input{font-size:1.7em;}   
    .fr-seccio-submit {font-size:1.7em;}   
}
    /**
    PANTALLES GRANS
    */
    @media all and (min-width: 770px) {
        /* styles
        body{font-size:3em !important;}*/
        #poma-fons{background-image:url(../../img/fons_9a.jpg) }
      /*  .fr-seccio-carta {max-width: 729px;}*/
        #calendari{font-size:1.6em}

        
        hr{display:none;} 
        .info-ico{display:none}

    }


    #dades-client{width:100%;}
    .ui-icon-closethick,   .ui-button-icon-only .ui-icon {
        left: 0%;
        top: -10%; 
    }

    #carta_MENUS{padding:0;}
    a:hover {
        color: red;
    }


    .ui-widget-overlay{
        background:#444;
        opacity:0.9;
        position: fixed;
        /*overflow:hidden; height:15000px;*/
        top:0;
        bottom: 0;
        left:0;
        right: 0;
        z-index:1999;
    }

    #taula-estructura{background:#444}
    #poma-fons{background-color:white; }
    .mes a, .menys a{color:white;}
    
    .fr-seccio-client input, .fr-seccio-client  label {display: block;margin-top: 7px;}    
h4{padding-top: 15px;}

.ui-dialog{z-index:2000  !important;}

/*
#peu{display:none;}
*/

.fr-seccio{overflow:hidden}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

.ui-dialog-content{height:auto !important;}
#fr-menu-popup{height:auto !important;}
#fr-cartaw-popup{height:auto !important;}

 label.ptpv{background:rgb(255, 255, 161);color:#333;}
 label.ptpv.ui-state-active{background:#570600;}
 
 .paga{background:rgb(255, 255, 161);padding:4px;}
 
.info-paga-i-senyal{background:rgb(255, 255, 161);padding:4px;}
.pastis{background:rgb(255, 255, 161);padding:4px;}

#debug{position:fixed;bottom:0;width:250px;}


html, body
{
    position:relative;
}

.ui-dialog { position: fixed; padding: .2em; width: 300px; overflow: hidden; }
@media screen and (-webkit-min-device-pixel-ratio:0) { /* chrome */
    html{
      position: relative;
    }
} 

@-moz-document url-prefix() { /* firefox */
    body{
    position: relative; overflow: auto;
    }
} 

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { /* ie10+ */
    body{
        position: relative; overflow: auto;
    }
}
/*
.ui-dialog {
    position:absolute !important;

    top:40px !important;
}
*/

#selectorTerrassa input[type="checkbox"]:checked+label { background: #8E7252;}
#selectorTerrassa input[type="checkbox"]{display:none}
#selectorTerrassa label { 
  /*  border: black solid 2px; */
    background: #444;
    padding: 8px;
    border-radius: 4px;
    color: white;
    
}
#blockCalcots {width: 100%;}
